body {
  font-family: Arial, sans-serif;
  background-color: #f4f4fc;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px; 
  margin: 50px auto; 
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #f4e474;
  color: rgb(17, 12, 95);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
  margin-left: 900px; 
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: #f6dd1f;
}

.buttonContainer {
  display: flex; 
  gap: 10px;
}

.buttonEdit,
.buttonDelete {
  background-color: #f4e474; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.buttonEdit:hover,
.buttonDelete:hover {
  background-color: #facd52; 
}

.search-container {
  margin-bottom: 0px; 
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 250px;
}

.alert {
  margin-top: 20px; 
  padding: 15px;
  background-color: #f8d7da; 
  color: #721c24; 
  border: 1px solid #f5c6cb;
  border-radius: 5px; 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  margin-bottom: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
}

.table-footer {
  text-align: left;
  margin-top: 10px;
}

.table-footer span {
  font-weight: bold;
}

.pagination,
.items-per-page {
  text-align: center;
  margin-top: 20px;
}

.pagination button,
.items-per-page select {
  background-color: #f4e474;
  color: rgb(17, 12, 95);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination button:hover {
  background-color: #f6dd1f;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination .active {
  background-color: #f6dd1f;
  font-weight: bold;
}

#page-info {
  font-weight: bold;
  margin: 0 10px;
}

/* Estilos para el botón del dropdown */
.dropbtn {
  background-color: #f4e474; 
  color: rgb(17, 12, 95); 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px; 
}

/* Estilos para el contenedor del dropdown */
.dropdown {
  position: relative; 
  display: inline-block; 
}

/* Estilos para el contenido del dropdown (las opciones) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; 
  min-width: 50px; 
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); 
  z-index: 1; 
}


.dropdown-content a {
  color: black; 
  padding: 12px 16px; 
  text-decoration: none; 
  display: block; 
}


.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block; 
}

.dropdown-content-item {
    color: black; 
    padding: 12px 16px;
    text-decoration: none; 
    display: block; 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
    text-align: left; 
}

.dropdown-content-item:hover {
    background-color: #f1f1f1; 
}

.form-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
  gap: 20px; 
}

.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%; 
  box-sizing: border-box; 
}

.input-container {
  position: relative; 
}

.text-danger {
  color: red; 
  font-size: 14px; 
  margin-top: 4px; 
  position: absolute; 
  bottom: -30px;
}

@media (max-width: 768px) {
  .form-group {
      grid-template-columns: 1fr;
      gap: 10px;
  }
}

@media (max-width: 600px) {
  .form-control {
      width: calc(100% - 20px);
  }
}

.button-container {
  display: flex; 
  justify-content: center;
  margin-top: 20px; 
  margin-left: 450px;
}

.button-form {
  background-color: #f4e474;
  color: rgb(17, 12, 95);
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 50px;
}

.button-form:hover {
  background-color: #f6dd1f;
}

.button-reset {
  background-color: #cac9c9;
}

.button-reset:hover {
  background-color: #8a8484;
}

.container h4 {
  text-align: center
}

.container h4::after {
  content: ''; 
  display: block; 
  width: 100%; 
  height: 2px;
  background-color: #1b1b1c; 
  margin: 10px auto 0; 
}


.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  z-index: 9999;
  width: 300px;
  text-align: center;
}

.notification.success {
  background-color: #4caf50;
}

.notification.error {
  background-color: #f44336;
}

.confirmation-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dialog-content p {
  margin-bottom: 20px;
}

.dialog-buttons {
  display: flex;
  justify-content: center;
}

.dialog-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.dialog-buttons .btn-cancel {
  background-color: #cac9c9;
  color: rgb(17, 12, 95);
}

.dialog-buttons .btn-confirm {
  background-color: #f4e474;
  color: rgb(17, 12, 95);
}

.btn-confirm:hover {
  background-color: #f6dd1f;
}

.btn-cancel:hover {
  background-color: #8a8484;
}

.product-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.product-loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
